{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}


    {% if form %}
        {% with title=TITLE %}

            <h1>Page editing for {{ title }}</h1>
        <form action="{% url 'entry_page' title %}" method="POST">

        {{ form.as_table }}
            <input type="submit">
            <input type="reset">
        </form>
        {% endwith %}
    {% else %}
        {% with title=TITLE %}
        <p>{{ content | safe}}</p>

        <form action="{% url 'edit_page' title  %}">
            <input type="submit" value="Edit Page">
        </form>
    {% endwith %}
    {% endif %}


{% endblock %}